ipython
h5py
nltk
joblib
jupyter
pandas
ninja
timm
einops
cython
matplotlib
tqdm
opencv-python
yacs>=0.1.8
pycocotools
cityscapesscripts
clint
requests
torch==1.13.1
torchvision==0.14.1
numpy==1.23.5

